# Lectura y creaciÃ³n de los CSV con los que se va a trabajar

## Lectura de csv de precios y de tweets

In [1]:
import pandas as pd

In [2]:
df_precio = pd.read_csv("BTC-USD.csv")

In [3]:
df_tweets = pd.read_csv("Bitcoin_tweets.csv")

C:\Users\Yago\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (5,6,7,12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
df_precio

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,2.105680e+07
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,3.448320e+07
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,3.791970e+07
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,3.686360e+07
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,2.658010e+07
...,...,...,...,...,...,...,...
2571,2021-10-01,43816.742188,48436.011719,43320.023438,48116.941406,48116.941406,4.285064e+10
2572,2021-10-02,48137.468750,48282.062500,47465.496094,47711.488281,47711.488281,3.061435e+10
2573,2021-10-03,47680.027344,49130.691406,47157.289063,48199.953125,48199.953125,2.663812e+10
2574,2021-10-04,48208.906250,49456.777344,47045.003906,49112.902344,49112.902344,3.338317e+10
2575,2021-10-05,49164.750000,50325.066406,49119.136719,50019.328125,50019.328125,3.504192e+10

In [5]:
df_tweets

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,DeSota Wilson,"Atlanta, GA","Biz Consultant, real estate, fintech, startups...",2009-04-26 20:05:09,8534.0,7605,4838,False,2021-02-10 23:59:04,Blue Ridge Bank shares halted by NYSE after #b...,['bitcoin'],Twitter Web App,False
1,CryptoND,NaN,ðŸ˜Ž BITCOINLIVE is a Dutch platform aimed at inf...,2019-10-17 20:12:10,6769.0,1532,25483,False,2021-02-10 23:58:48,"ðŸ˜Ž Today, that's this #Thursday, we will do a ""...","['Thursday', 'Btc', 'wallet', 'security']",Twitter for Android,False
2,Tdlmatias,"London, England","IM Academy : The best #forex, #SelfEducation, ...",2014-11-10 10:50:37,128.0,332,924,False,2021-02-10 23:54:48,"Guys evening, I have read this article about B...",NaN,Twitter Web App,False
3,Crypto is the future,NaN,I will post a lot of buying signals for BTC tr...,2019-09-28 16:48:12,625.0,129,14,False,2021-02-10 23:54:33,$BTC A big chance in a billion! Price: \487264...,"['Bitcoin', 'FX', 'BTC', 'crypto']",dlvr.it,False
4,Alex Kirchmaier ðŸ‡¦ðŸ‡¹ðŸ‡¸ðŸ‡ª #FactsSuperspreader,Europa,Co-founder @RENJERJerky | Forbes 30Under30 | I...,2016-02-03 13:15:55,1249.0,1472,10482,False,2021-02-10 23:54:06,This network is secured by 9 508 nodes as of t...,['BTC'],Twitter Web App,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1751670,JomCRYPTO,NaN,Developer,2021-10-05 12:50:30,5.0,41,394,False,2021-11-12 20:27:16,@WatcherGuru #Btc\n#ETH \n#LTC \n#COSMOS \n#St...,"['Btc', 'ETH', 'LTC', 'COSMOS', 'Stellar', 'Do...",Twitter for iPhone,False
1751671,Ali,NaN,NaN,2021-04-08 05:50:42,80.0,217,191,False,2021-11-12 20:27:15,@TheBitcoinConf @priceoftomorrow @addyinvest @...,"['shib', 'shiba', 'shiba_army', 'shibaw', 'shi...",Twitter for iPhone,False
1751672,Muhammed,NaN,NaN,2021-04-05 15:26:19,34.0,81,3695,False,2021-11-12 20:27:08,@Heatherfernsby #pitbulltoken will be the doge...,"['pitbulltoken', 'pitbull', 'PitbullToken100x'...",Twitter for Android,False
1751673,Francesco Santoro $VET,NaN,"Investitore #BNB , #CRO e #VET appassionato d...",2021-03-08 20:54:47,76.0,354,1011,False,2021-11-12 20:27:08,I am changing the way I invest. In the wallet ...,"['VET', 'btc', 'BNB']",Twitter for Android,False
1751674,GROND,Nirvana,Investor / Misantrophe / Fudie\n\nPyramid sche...,2021-05-18 08:40:35,17.0,41,594,False,2021-11-12 20:27:05,@LucaLand97 It is absolutely unbelievable. And...,['BTC'],Twitter Web App,False

## Limpieza de dataframe de precio

In [6]:
df_precio = df_precio.drop(['High', 'Low', 'Close', 'Adj Close', 'Volume'], axis=1)
df_precio = df_precio.rename(columns={"Date": "Fecha", "Open": "Precio"})

In [7]:
df_precio

           Fecha        Precio
0     2014-09-17    465.864014
1     2014-09-18    456.859985
2     2014-09-19    424.102997
3     2014-09-20    394.673004
4     2014-09-21    408.084991
...          ...           ...
2571  2021-10-01  43816.742188
2572  2021-10-02  48137.468750
2573  2021-10-03  47680.027344
2574  2021-10-04  48208.906250
2575  2021-10-05  49164.750000

[2576 rows x 2 columns]

## Agregacion de columnas de 1d y 7d antes y despues

In [8]:
precio_1d_atras = list()
precio_7d_atras  = list()
precio_1d_despues = list()
precio_7d_despues = list()

for i in range(len(df_precio)):
    if(i>0):   
        precio_1d_atras.append(df_precio.iloc[i-1,1])
    else:
        precio_1d_atras.append(df_precio.iloc[i,1]) # Si no hay suficientes dias antes, asignarle el precio del dia actual, para que no se quede vacio y de problemas
      
    if(i>6):
        precio_7d_atras.append(df_precio.iloc[i-7,1])
    else:
        precio_7d_atras.append(df_precio.iloc[i,1]) # Si no hay suficientes dias antes, asignarle el precio del dia actual, para que no se quede vacio y de problemas
        
    if(i<len(df_precio)-1):
        precio_1d_despues.append(df_precio.iloc[i+1,1])
    else:
        precio_1d_despues.append(df_precio.iloc[i,1]) # Si no hay suficientes dias antes, asignarle el precio del dia actual, para que no se quede vacio y de problemas
        
    if(i<len(df_precio)-7):
        precio_7d_despues.append(df_precio.iloc[i+7,1])
    else:
        precio_7d_despues.append(df_precio.iloc[i,1]) # Si no hay suficientes dias antes, asignarle el precio del dia actual, para que no se quede vacio y de problemas
    
df_precio.loc[:, '1d_atras'] = precio_1d_atras
df_precio.loc[:, '7d_atras'] = precio_7d_atras
df_precio.loc[:, '1d_despues'] = precio_1d_despues
df_precio.loc[:, '7d_despues'] = precio_7d_despues

df_precio

,Fecha,Precio,1d_atras,7d_atras,1d_despues,7d_despues
0,2014-09-17,465.864014,465.864014,465.864014,456.859985,435.751007
1,2014-09-18,456.859985,465.864014,456.859985,424.102997,423.156006
2,2014-09-19,424.102997,456.859985,424.102997,394.673004,411.428986
3,2014-09-20,394.673004,424.102997,394.673004,408.084991,403.556000
4,2014-09-21,408.084991,394.673004,408.084991,399.100006,399.471008
...,...,...,...,...,...,...
2571,2021-10-01,43816.742188,41551.269531,44894.300781,48137.468750,43816.742188
2572,2021-10-02,48137.468750,43816.742188,42840.890625,47680.027344,48137.468750
2573,2021-10-03,47680.027344,48137.468750,42721.628906,48208.906250,47680.027344
2574,2021-10-04,48208.906250,47680.027344,43234.183594,49164.750000,48208.906250
2575,2021-10-05,49164.750000,48208.906250,42200.898438,49164.750000,49164.750000

## Limpieza de dataframe de tweets

In [9]:
df_tweets = df_tweets[df_tweets.is_retweet == False] # No tener en cuenta los retweets
df_tweets = df_tweets.drop(['user_location', 'user_created', 'user_description', 'user_friends', 'user_favourites', 'source', 'is_retweet'], axis=1)
df_tweets['date'] = df_tweets['date'].str[0:10] # Eliminar la hora, quedarnos solo con el dia

df_tweets

,user_name,user_followers,user_verified,date,text,hashtags
0,DeSota Wilson,8534.0,False,2021-02-10,Blue Ridge Bank shares halted by NYSE after #b...,['bitcoin']
1,CryptoND,6769.0,False,2021-02-10,"ðŸ˜Ž Today, that's this #Thursday, we will do a ""...","['Thursday', 'Btc', 'wallet', 'security']"
2,Tdlmatias,128.0,False,2021-02-10,"Guys evening, I have read this article about B...",NaN
3,Crypto is the future,625.0,False,2021-02-10,$BTC A big chance in a billion! Price: \487264...,"['Bitcoin', 'FX', 'BTC', 'crypto']"
4,Alex Kirchmaier ðŸ‡¦ðŸ‡¹ðŸ‡¸ðŸ‡ª #FactsSuperspreader,1249.0,False,2021-02-10,This network is secured by 9 508 nodes as of t...,['BTC']
...,...,...,...,...,...,...
1751670,JomCRYPTO,5.0,False,2021-11-12,@WatcherGuru #Btc\n#ETH \n#LTC \n#COSMOS \n#St...,"['Btc', 'ETH', 'LTC', 'COSMOS', 'Stellar', 'Do..."
1751671,Ali,80.0,False,2021-11-12,@TheBitcoinConf @priceoftomorrow @addyinvest @...,"['shib', 'shiba', 'shiba_army', 'shibaw', 'shi..."
1751672,Muhammed,34.0,False,2021-11-12,@Heatherfernsby #pitbulltoken will be the doge...,"['pitbulltoken', 'pitbull', 'PitbullToken100x'..."
1751673,Francesco Santoro $VET,76.0,False,2021-11-12,I am changing the way I invest. In the wallet ...,"['VET', 'btc', 'BNB']"
1751674,GROND,17.0,False,2021-11-12,@LucaLand97 It is absolutely unbelievable. And...,['BTC']

In [12]:
df_tweets = df_tweets[df_tweets.user_verified == True] # Solo tweets de usuarios verificados

In [13]:
df_tweets

,user_name,user_followers,user_verified,date,text,hashtags
65906,Daily Express,879107.0,True,2021-04-07,Bitcoin price crash: Cryptocurrency plunges in...,"['Bitcoin', 'bitcoin', 'btc', 'Crypto']"
66378,BTCC,81172.0,True,2021-04-07,The #BTC is stuck inside a large range between...,"['BTC', 'Bitcoin', 'crypto']"
66447,BtcTurk | PRO,90749.0,True,2021-04-07,Price data of #Bitcoin #BTC pairs on #btcturkp...,"['Bitcoin', 'BTC', 'btcturkpro']"
67137,LatestLY,69095.0,True,2021-04-07,#WhatsApp rival #Signal reportedly testing pee...,"['WhatsApp', 'Signal', 'Cryptocurrency']"
67248,Herbert R. Sim,147300.0,True,2021-04-07,"When supply is more than demand, what happens?...",['Bitcoin']
...,...,...,...,...,...,...
1506808,Bitcoin Magazine,1511257.0,True,2021-10-29,"""Australia's coming spot ETFs are a step in th...",['Bitcoin']
1506998,Peter McCormack,387088.0,True,2021-10-29,What do you do if you sit on a $7B stash of #B...,"['Bitcoin', 'Bitcoin']"
1507046,Spiking,24744.0,True,2021-10-29,"If you want to be rich, avoid lazy people #bit...",['bitcoin']
1507071,David Gokhshtein,481971.0,True,2021-10-29,"I love #cryptopunks but with that money, Iâ€™m b...","['cryptopunks', 'bitcoin']"
1507111,Mike Germano,8295.0,True,2021-10-29,My son and I thought #Bitcoin would have been...,['Bitcoin']

In [15]:
df_tweets = df_tweets.drop(['user_verified', 'hashtags'], axis=1)

In [16]:
df_tweets

,user_name,user_followers,date,text
65906,Daily Express,879107.0,2021-04-07,Bitcoin price crash: Cryptocurrency plunges in...
66378,BTCC,81172.0,2021-04-07,The #BTC is stuck inside a large range between...
66447,BtcTurk | PRO,90749.0,2021-04-07,Price data of #Bitcoin #BTC pairs on #btcturkp...
67137,LatestLY,69095.0,2021-04-07,#WhatsApp rival #Signal reportedly testing pee...
67248,Herbert R. Sim,147300.0,2021-04-07,"When supply is more than demand, what happens?..."
...,...,...,...,...
1506808,Bitcoin Magazine,1511257.0,2021-10-29,"""Australia's coming spot ETFs are a step in th..."
1506998,Peter McCormack,387088.0,2021-10-29,What do you do if you sit on a $7B stash of #B...
1507046,Spiking,24744.0,2021-10-29,"If you want to be rich, avoid lazy people #bit..."
1507071,David Gokhshtein,481971.0,2021-10-29,"I love #cryptopunks but with that money, Iâ€™m b..."
1507111,Mike Germano,8295.0,2021-10-29,My son and I thought #Bitcoin would have been...

In [18]:
df_tweets.to_csv('df_tweets_verified.csv') # Guardar tweets limpios y verificados en un csv

## Analisis de sentimientos de los tweets

In [19]:
df_tweets = pd.read_csv('df_tweets_verified.csv')

In [21]:
from textblob import TextBlob
import pandas as pd
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import multiprocessing as mp

In [22]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Yago\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [24]:
tweets = df_tweets['text']

i=0

for tweet in tweets:
    
    score = SentimentIntensityAnalyzer().polarity_scores(tweet)
    
    df_tweets.loc[i, 'sentimiento'] = score['compound']
    
    if(i%1000==0):
        print(i, "-", i/len(tweets)*100, "% ->", score['compound'])
    i+=1
    
print("Finalizado!!!")

0 - 0.0 % -> -0.34
1000 - 10.51967178624027 % -> 0.4574
2000 - 21.03934357248054 % -> 0.0
3000 - 31.55901535872081 % -> 0.3666
4000 - 42.07868714496108 % -> 0.0
5000 - 52.598358931201346 % -> 0.0
6000 - 63.11803071744162 % -> 0.2481
7000 - 73.6377025036819 % -> -0.0
8000 - 84.15737428992216 % -> 0.128
9000 - 94.67704607616241 % -> 0.4939

In [25]:
df_tweets

,Unnamed: 0,user_name,user_followers,date,text,sentimiento
0,65906,Daily Express,879107.0,2021-04-07,Bitcoin price crash: Cryptocurrency plunges in...,-0.3400
1,66378,BTCC,81172.0,2021-04-07,The #BTC is stuck inside a large range between...,-0.2500
2,66447,BtcTurk | PRO,90749.0,2021-04-07,Price data of #Bitcoin #BTC pairs on #btcturkp...,0.0000
3,67137,LatestLY,69095.0,2021-04-07,#WhatsApp rival #Signal reportedly testing pee...,0.0000
4,67248,Herbert R. Sim,147300.0,2021-04-07,"When supply is more than demand, what happens?...",0.6315
...,...,...,...,...,...,...
9501,1506808,Bitcoin Magazine,1511257.0,2021-10-29,"""Australia's coming spot ETFs are a step in th...",0.0000
9502,1506998,Peter McCormack,387088.0,2021-10-29,What do you do if you sit on a $7B stash of #B...,0.3818
9503,1507046,Spiking,24744.0,2021-10-29,"If you want to be rich, avoid lazy people #bit...",0.0516
9504,1507071,David Gokhshtein,481971.0,2021-10-29,"I love #cryptopunks but with that money, Iâ€™m b...",0.8316
9505,1507111,Mike Germano,8295.0,2021-10-29,My son and I thought #Bitcoin would have been...,0.0000

## Calculo del valor del sentimiento con respecto a los seguidores

In [26]:
df_tweets = df_tweets.drop(['Unnamed: 0', 'user_name', 'text'], axis=1)
df_tweets['sentim_global'] = df_tweets['user_followers']*df_tweets['sentimiento']
df_tweets

      user_followers        date  sentimiento  sentim_global
0           879107.0  2021-04-07      -0.3400   -298896.3800
1            81172.0  2021-04-07      -0.2500    -20293.0000
2            90749.0  2021-04-07       0.0000         0.0000
3            69095.0  2021-04-07       0.0000         0.0000
4           147300.0  2021-04-07       0.6315     93019.9500
...              ...         ...          ...            ...
9501       1511257.0  2021-10-29       0.0000         0.0000
9502        387088.0  2021-10-29       0.3818    147790.1984
9503         24744.0  2021-10-29       0.0516      1276.7904
9504        481971.0  2021-10-29       0.8316    400807.0836
9505          8295.0  2021-10-29       0.0000         0.0000

[9506 rows x 4 columns]

In [27]:
df_tweets = df_tweets.drop(['user_followers', 'sentimiento'], axis=1)

In [28]:
df_tweets

            date  sentim_global
0     2021-04-07   -298896.3800
1     2021-04-07    -20293.0000
2     2021-04-07         0.0000
3     2021-04-07         0.0000
4     2021-04-07     93019.9500
...          ...            ...
9501  2021-10-29         0.0000
9502  2021-10-29    147790.1984
9503  2021-10-29      1276.7904
9504  2021-10-29    400807.0836
9505  2021-10-29         0.0000

[9506 rows x 2 columns]

## Agrupacion del sentimiento medio por dia

In [33]:
df_tweets2 = df_tweets

In [34]:
df_tweets2 = df_tweets2.groupby(['date'], as_index=False).mean()
df_tweets2

          date  sentim_global
0   2021-04-05   17992.455600
1   2021-04-06  -19875.021457
2   2021-04-07  -37718.365800
3   2021-04-18    8126.912926
4   2021-04-19  -49996.431735
5   2021-04-20  363672.940360
6   2021-04-21   91868.311490
7   2021-04-22   27351.191958
8   2021-04-23   -8485.794004
9   2021-04-24  -79372.596908
10  2021-05-25    1248.720384
11  2021-05-26   39436.122706
12  2021-05-27   33631.507600
13  2021-05-28    3836.512205
14  2021-05-29   13903.245700
15  2021-06-20   13444.615194
16  2021-06-21    9789.132978
17  2021-06-22  -59858.385238
18  2021-06-23   46520.499383
19  2021-07-02   34914.166835
20  2021-07-03   86664.862994
21  2021-07-04  157810.706830
22  2021-07-05   98620.265112
23  2021-07-16   44968.625902
24  2021-07-17   47721.372722
25  2021-07-18    4924.620503
26  2021-07-19    5544.701090
27  2021-07-20   38687.981348
28  2021-07-21   76129.172398
29  2021-07-22   62614.383008
30  2021-07-23   50461.684880
31  2021-07-24   72593.975160
32  2021-07-28   24063.948636
33  2021-07-29   95019.621863
34  2021-07-30  127669.971926
35  2021-08-04 -156900.056855
36  2021-08-05   44988.530295
37  2021-08-06   70907.964077
38  2021-08-07   28610.795490
39  2021-08-08   94207.047043
40  2021-08-09   92351.632169
41  2021-08-14   53018.209375
42  2021-08-15  117393.266294
43  2021-08-16  148258.719174
44  2021-08-17   90238.034261
45  2021-08-18   96051.123896
46  2021-08-19  116190.254329
47  2021-08-20  128412.466313
48  2021-08-21   79796.052750
49  2021-08-23   86671.848674
50  2021-08-24  107919.869252
51  2021-08-25  104500.550470
52  2021-08-26   68800.283777
53  2021-09-10  117326.209138
54  2021-10-18  142372.133851
55  2021-10-19   72080.300169
56  2021-10-20   26007.366235
57  2021-10-21   31989.329330
58  2021-10-29  104695.284680

## Combinacion de dataframe de sentimientos y de precios

In [38]:
df_combinada = pd.merge(df_precio, df_tweets2, left_on="Fecha", right_on="date")
df_combinada

,Fecha,Precio,1d_atras,7d_atras,1d_despues,7d_despues,date,sentim_global
0,2021-04-05,58760.875000,57604.839844,55947.898438,59171.933594,60175.945313,2021-04-05,17992.455600
1,2021-04-06,59171.933594,58760.875000,57750.132813,58186.507813,59890.019531,2021-04-06,-19875.021457
2,2021-04-07,58186.507813,59171.933594,58930.277344,56099.914063,63523.753906,2021-04-07,-37718.365800
3,2021-04-18,60701.886719,61529.921875,59846.230469,56191.585938,50052.832031,2021-04-18,8126.912926
4,2021-04-19,56191.585938,60701.886719,60175.945313,55681.792969,49077.792969,2021-04-19,-49996.431735
5,2021-04-20,55681.792969,56191.585938,59890.019531,56471.128906,54030.304688,2021-04-20,363672.940360
6,2021-04-21,56471.128906,55681.792969,63523.753906,53857.105469,55036.636719,2021-04-21,91868.311490
7,2021-04-22,53857.105469,56471.128906,63075.195313,51739.808594,54858.089844,2021-04-22,27351.191958
8,2021-04-23,51739.808594,53857.105469,63258.503906,51143.226563,53568.664063,2021-04-23,-8485.794004
9,2021-04-24,51143.226563,51739.808594,61529.921875,50052.832031,57714.664063,2021-04-24,-79372.596908
10,2021-05-25,38795.781250,34700.363281,43488.058594,38392.625000,37293.792969,2021-05-25,1248.720384
11,2021-05-26,38392.625000,38795.781250,42944.976563,39316.890625,36699.921875,2021-05-26,39436.122706
12,2021-05-27,39316.890625,38392.625000,36753.667969,38507.082031,37599.410156,2021-05-27,33631.507600
13,2021-05-28,38507.082031,39316.890625,40596.949219,35684.156250,39242.484375,2021-05-28,3836.512205
14,2021-05-29,35684.156250,38507.082031,37371.031250,34607.406250,36880.156250,2021-05-29,13903.245700
15,2021-06-20,35563.140625,35854.527344,35555.789063,35641.144531,32287.523438,2021-06-20,13444.615194
16,2021-06-21,35641.144531,35563.140625,39016.968750,31622.376953,34679.121094,2021-06-21,9789.132978
17,2021-06-22,31622.376953,35641.144531,40427.167969,32515.714844,34475.558594,2021-06-22,-59858.385238
18,2021-06-23,32515.714844,31622.376953,40168.691406,33682.800781,35908.386719,2021-06-23,46520.499383
19,2021-07-02,33549.601563,35035.984375,34659.105469,33854.421875,32861.671875,2021-07-02,34914.166835
20,2021-07-03,33854.421875,33549.601563,31594.664063,34665.566406,33811.242188,2021-07-03,86664.862994
21,2021-07-04,34665.566406,33854.421875,32287.523438,35284.343750,33509.078125,2021-07-04,157810.706830
22,2021-07-05,35284.343750,34665.566406,34679.121094,33723.507813,34254.015625,2021-07-05,98620.265112
23,2021-07-16,31841.550781,32827.875000,32861.671875,31397.308594,32305.958984,2021-07-16,44968.625902
24,2021-07-17,31397.308594,31841.550781,33811.242188,31533.884766,33593.730469,2021-07-17,47721.372722
25,2021-07-18,31533.884766,31397.308594,33509.078125,31800.011719,34290.292969,2021-07-18,4924.620503
26,2021-07-19,31800.011719,31533.884766,34254.015625,30838.285156,35384.031250,2021-07-19,5544.701090
27,2021-07-20,30838.285156,31800.011719,33125.468750,29796.285156,37276.035156,2021-07-20,38687.981348
28,2021-07-21,29796.285156,30838.285156,32723.845703,32138.873047,39503.187500,2021-07-21,76129.172398
29,2021-07-22,32138.873047,29796.285156,32827.875000,32305.958984,39995.453125,2021-07-22,62614.383008
30,2021-07-23,32305.958984,32138.873047,31841.550781,33593.730469,40027.484375,2021-07-23,50461.684880
31,2021-07-24,33593.730469,32305.958984,31397.308594,34290.292969,42196.304688,2021-07-24,72593.975160
32,2021-07-28,39503.187500,37276.035156,29796.285156,39995.453125,38213.332031,2021-07-28,24063.948636
33,2021-07-29,39995.453125,39503.187500,32138.873047,40027.484375,39744.515625,2021-07-29,95019.621863
34,2021-07-30,40027.484375,39995.453125,32305.958984,42196.304688,40865.867188,2021-07-30,127669.971926
35,2021-08-04,38213.332031,39178.402344,39503.187500,39744.515625,45599.703125,2021-08-04,-156900.056855
36,2021-08-05,39744.515625,38213.332031,39995.453125,40865.867188,45576.878906,2021-08-05,44988.530295
37,2021-08-06,40865.867188,39744.515625,40027.484375,42832.796875,44439.691406,2021-08-06,70907.964077
38,2021-08-07,42832.796875,40865.867188,42196.304688,44574.437500,47810.687500,2021-08-07,28610.795490
39,2021-08-08,44574.437500,42832.796875,41460.843750,43791.925781,47096.667969,2021-08-08,94207.047043
40,2021-08-09,43791.925781,44574.437500,39907.261719,46280.847656,47019.960938,2021-08-09,92351.632169
41,2021-08-14,47810.687500,44439.691406,42832.796875,47096.667969,49327.074219,2021-08-14,53018.209375
42,2021-08-15,47096.667969,47810.687500,44574.437500,47019.960938,48869.105469,2021-08-15,117393.266294
43,2021-08-16,47019.960938,47096.667969,43791.925781,45936.457031,49291.675781,2021-08-16,148258.719174
44,2021-08-17,45936.457031,47019.960938,46280.847656,44686.750000,49562.347656,2021-08-17,90238.034261
45,2021-08-18,44686.750000,45936.457031,45599.703125,44741.882813,47727.257813,2021-08-18,96051.123896
46,2021-08-19,44741.882813,44686.750000,45576.878906,46723.121094,49002.640625,2021-08-19,116190.254329
47,2021-08-20,46723.121094,44741.882813,44439.691406,49327.074219,46894.554688,2021-08-20,128412.466313
48,2021-08-21,49327.074219,46723.121094,47810.687500,48869.105469,49072.585938,2021-08-21,79796.052750
49,2021-08-23,49291.675781,48869.105469,47019.960938,49562.347656,48834.851563,2021-08-23,86671.848674
50,2021-08-24,49562.347656,49291.675781,45936.457031,47727.257813,47024.339844,2021-08-24,107919.869252
51,2021-08-25,47727.257813,49562.347656,44686.750000,49002.640625,47099.773438,2021-08-25,104500.550470
52,2021-08-26,49002.640625,47727.257813,44741.882813,46894.554688,48807.847656,2021-08-26,68800.283777
53,2021-09-10,46396.664063,45774.742188,49288.250000,44869.839844,47771.003906,2021-09-10,117326.209138

In [39]:
df_combinada = df_combinada.drop(['date'], axis=1)
df_combinada

,Fecha,Precio,1d_atras,7d_atras,1d_despues,7d_despues,sentim_global
0,2021-04-05,58760.875000,57604.839844,55947.898438,59171.933594,60175.945313,17992.455600
1,2021-04-06,59171.933594,58760.875000,57750.132813,58186.507813,59890.019531,-19875.021457
2,2021-04-07,58186.507813,59171.933594,58930.277344,56099.914063,63523.753906,-37718.365800
3,2021-04-18,60701.886719,61529.921875,59846.230469,56191.585938,50052.832031,8126.912926
4,2021-04-19,56191.585938,60701.886719,60175.945313,55681.792969,49077.792969,-49996.431735
5,2021-04-20,55681.792969,56191.585938,59890.019531,56471.128906,54030.304688,363672.940360
6,2021-04-21,56471.128906,55681.792969,63523.753906,53857.105469,55036.636719,91868.311490
7,2021-04-22,53857.105469,56471.128906,63075.195313,51739.808594,54858.089844,27351.191958
8,2021-04-23,51739.808594,53857.105469,63258.503906,51143.226563,53568.664063,-8485.794004
9,2021-04-24,51143.226563,51739.808594,61529.921875,50052.832031,57714.664063,-79372.596908
10,2021-05-25,38795.781250,34700.363281,43488.058594,38392.625000,37293.792969,1248.720384
11,2021-05-26,38392.625000,38795.781250,42944.976563,39316.890625,36699.921875,39436.122706
12,2021-05-27,39316.890625,38392.625000,36753.667969,38507.082031,37599.410156,33631.507600
13,2021-05-28,38507.082031,39316.890625,40596.949219,35684.156250,39242.484375,3836.512205
14,2021-05-29,35684.156250,38507.082031,37371.031250,34607.406250,36880.156250,13903.245700
15,2021-06-20,35563.140625,35854.527344,35555.789063,35641.144531,32287.523438,13444.615194
16,2021-06-21,35641.144531,35563.140625,39016.968750,31622.376953,34679.121094,9789.132978
17,2021-06-22,31622.376953,35641.144531,40427.167969,32515.714844,34475.558594,-59858.385238
18,2021-06-23,32515.714844,31622.376953,40168.691406,33682.800781,35908.386719,46520.499383
19,2021-07-02,33549.601563,35035.984375,34659.105469,33854.421875,32861.671875,34914.166835
20,2021-07-03,33854.421875,33549.601563,31594.664063,34665.566406,33811.242188,86664.862994
21,2021-07-04,34665.566406,33854.421875,32287.523438,35284.343750,33509.078125,157810.706830
22,2021-07-05,35284.343750,34665.566406,34679.121094,33723.507813,34254.015625,98620.265112
23,2021-07-16,31841.550781,32827.875000,32861.671875,31397.308594,32305.958984,44968.625902
24,2021-07-17,31397.308594,31841.550781,33811.242188,31533.884766,33593.730469,47721.372722
25,2021-07-18,31533.884766,31397.308594,33509.078125,31800.011719,34290.292969,4924.620503
26,2021-07-19,31800.011719,31533.884766,34254.015625,30838.285156,35384.031250,5544.701090
27,2021-07-20,30838.285156,31800.011719,33125.468750,29796.285156,37276.035156,38687.981348
28,2021-07-21,29796.285156,30838.285156,32723.845703,32138.873047,39503.187500,76129.172398
29,2021-07-22,32138.873047,29796.285156,32827.875000,32305.958984,39995.453125,62614.383008
30,2021-07-23,32305.958984,32138.873047,31841.550781,33593.730469,40027.484375,50461.684880
31,2021-07-24,33593.730469,32305.958984,31397.308594,34290.292969,42196.304688,72593.975160
32,2021-07-28,39503.187500,37276.035156,29796.285156,39995.453125,38213.332031,24063.948636
33,2021-07-29,39995.453125,39503.187500,32138.873047,40027.484375,39744.515625,95019.621863
34,2021-07-30,40027.484375,39995.453125,32305.958984,42196.304688,40865.867188,127669.971926
35,2021-08-04,38213.332031,39178.402344,39503.187500,39744.515625,45599.703125,-156900.056855
36,2021-08-05,39744.515625,38213.332031,39995.453125,40865.867188,45576.878906,44988.530295
37,2021-08-06,40865.867188,39744.515625,40027.484375,42832.796875,44439.691406,70907.964077
38,2021-08-07,42832.796875,40865.867188,42196.304688,44574.437500,47810.687500,28610.795490
39,2021-08-08,44574.437500,42832.796875,41460.843750,43791.925781,47096.667969,94207.047043
40,2021-08-09,43791.925781,44574.437500,39907.261719,46280.847656,47019.960938,92351.632169
41,2021-08-14,47810.687500,44439.691406,42832.796875,47096.667969,49327.074219,53018.209375
42,2021-08-15,47096.667969,47810.687500,44574.437500,47019.960938,48869.105469,117393.266294
43,2021-08-16,47019.960938,47096.667969,43791.925781,45936.457031,49291.675781,148258.719174
44,2021-08-17,45936.457031,47019.960938,46280.847656,44686.750000,49562.347656,90238.034261
45,2021-08-18,44686.750000,45936.457031,45599.703125,44741.882813,47727.257813,96051.123896
46,2021-08-19,44741.882813,44686.750000,45576.878906,46723.121094,49002.640625,116190.254329
47,2021-08-20,46723.121094,44741.882813,44439.691406,49327.074219,46894.554688,128412.466313
48,2021-08-21,49327.074219,46723.121094,47810.687500,48869.105469,49072.585938,79796.052750
49,2021-08-23,49291.675781,48869.105469,47019.960938,49562.347656,48834.851563,86671.848674
50,2021-08-24,49562.347656,49291.675781,45936.457031,47727.257813,47024.339844,107919.869252
51,2021-08-25,47727.257813,49562.347656,44686.750000,49002.640625,47099.773438,104500.550470
52,2021-08-26,49002.640625,47727.257813,44741.882813,46894.554688,48807.847656,68800.283777
53,2021-09-10,46396.664063,45774.742188,49288.250000,44869.839844,47771.003906,117326.209138

In [40]:
df_combinada.to_csv('df_combinada.csv') # Guarda el dataframe combinado en un csv